// -------------------
// Typefaces
// -------------------
$sans: Helvetica, Arial, sans-serif;
$serif: Georgia, Times, serif;
// $sans-display
// $serif-display
// $mono

// Color
$black: #000;
$offblack: #282828;
$gray: #949494;
$graylight: #c9c9c9;
$offwhite: #f4f4f4;
$white: #fff;

$column-width: 35rem;